.row {
    
    
    padding: 100px 40px;
    margin-left: auto;
    max-width: 100%;
    height: auto;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    
    max-width: 80%;
    padding: 100px 40px;
  }
  
  .column img {
    margin-top: 40px;
    vertical-align: middle;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      
      max-width: 80%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
     
      max-width: 100%;
    }
  }
  .header{
    margin-top: 10%;
    text-align: center;
  }
  .img1{
    max-width: 8%;
  }
  

 img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */





.btn:hover {
  background-color: rgba(0, 0, 0, 0.507);

}
.btn {
  margin-left: 300px;
  position: initial;
  width: 200px;
  left:0;
  top: 180px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.btn a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.column:hover .btn {
  opacity: 1;
}