<div class="position-relative overflow-hidden p-4 p-md-5 m-md-3 text-center bg-light"
border=0px;></div>
<div class="new" >
  <div class="text-center col-md-auto">
    <h1>ABOUT US</h1>
    <p class="text-black-50 mb-0" style="text-align: center">MEET OUR TEAM</p>
     <p> We are all very different. We were born in different cities, at different times, we love different music, food, movies. But we have something that unites us all. It is our company. We are its heart. We are not just a team, we are a family.</p>
    </div>
    <div class="new1">
    <div class="col-lg-4">
        <img class="m1" src="/assets/img/sk.png" alt="Generic placeholder image" width="140" height="140">
        <h2 class="h2">SMARTH KHATRI</h2>
    </div>
    <div class="col-lg-4">
        <img class="m1" src="/assets/img/harsh1.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2 class="h2">HARSH AGGARWAL</h2>
    </div>
    <div class="col-lg-4">
        <img class="m1" src="/assets/img/nish1.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2 class="h2">NISHANT YADAV</h2>
    </div>
    </div>

</div>

              
            
            
            
          
       
  
