<!DOCTYPE html>
<html>

<body>

<!-- Header -->

<div class="header" >

    <h1>      </h1>
  <h2>EXPLORE <img class="img1" src="assets/img/logo.jpg"></h2>
  <p>REGISTER TO DOWNLOAD 
  </p>
  <p><a class="btn btn-secondary" routerLink="/register.html/" role="button">Register &raquo;</a></p>

  <p>Resize the browser window to see the responsive effect.</p>
</div>

<!-- Photo Grid -->
<div class="row"> 
  
  <div class="column">
    <img src="assets/img/wedding.jpg" style="width:100%">
    <img src="assets/img/rocks.jpg" style="width:100%">
    <img src="assets/img/falls2.jpg" style="width:100%">
    <img src="assets/img/paris.jpg" style="width:100%">
    <img src="assets/img/nature.jpg" style="width:100%">
    <img src="assets/img/mist.jpg" style="width:100%">
    <img src="assets/img/paris.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="assets/img/underwater.jpg" style="width:100%">
    <img src="assets/img/ocean.jpg" style="width:100%">
    <img src="assets/img/wedding.jpg" style="width:100%">
    <img src="assets/img/mountainskies.jpg" style="width:100%">
    <img src="assets/img/rocks.jpg" style="width:100%">
    <img src="assets/img/underwater.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="assets/img/wedding.jpg" style="width:100%">
    <img src="assets/img/rocks.jpg" style="width:100%">
    <img src="assets/img/falls2.jpg" style="width:100%">
    <img src="assets/img/paris.jpg" style="width:100%">
    <img src="assets/img/nature.jpg" style="width:100%">
    <img src="assets/img/mist.jpg" style="width:100%">
    <img src="assets/img/paris.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="assets/img/underwater.jpg" style="width:100%">
    <img src="assets/img/ocean.jpg" style="width:100%">
    <img src="assets/img/wedding.jpg" style="width:100%">
    <img src="assets/img/mountainskies.jpg" style="width:100%">
    <img src="assets/img/rocks.jpg" style="width:100%">
    <img src="assets/img/underwater.jpg" style="width:100%">
  </div>
</div>

        

</body>
</html>

